/*** RESET ***/
		*{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-family:inherit;vertical-align:baseline;font-size:1em;font-style:normal;-webkit-font-smoothing:antialiased;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;/*user-select:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;*/tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;}*, *::before, *::after{-webkit-transition:.5s;-box-transition:.5s;-o-transition:.5s;transition:.5s;}:hover,:active,:focus{outline:0 !important;}html, body{min-height:100%;font-family:sans-serif;font-size:1rem;position:relative;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;padding:0;line-height:1;}article, footer, header, section{display:block;}ol, ul{list-style:none;}a{display:inline-block;text-decoration:none;background-color:transparent;color:initial;}a img{border:none;}a, button, input[type="submit"]{cursor:pointer !important;}button{// background-color:transparent;}img{width:100%;height:auto;}img::selection{fill:none;color:none;display:none;background:none;}input[type="text"], input[type="number"], input[type="search"], input[type="email"], textarea{text-align:left;max-width:100%;}input[type="checkbox"], input[type="radio"]{display:none;}input[type="submit"]{background-color:transparent;}label{display:inline;}textarea{resize:vertical;}
/*** END RESET ***/

/*** CANCEL ***/
body { overflow-x: hidden; }
a.u-marquee-box-title { display: inline; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.u-marquee-box-decoration-img.is-variant_small { position: relative; z-index: 10; }
.u-marquee-box-decoration-img.is-variant_big { position: relative; z-index: 20; }
/*** END Z-INDEXES ***/

/*** COLORS ***/
.hashtags { background-color: #370854; }
.u-paragraph-main { color: #370854; }

.u-paragraph.is-variant_white,
.u-paragraph.is-variant_white:before,
.u-paragraph.is-variant_white:after { background-color: #eee; }

.u-paragraph.is-variant_black,
.u-paragraph.is-variant_black *,
.u-marquee-box-title { color: white; }

* {// color: #202020; }
.u-paragraph.is-variant_black,
.u-paragraph.is-variant_black:before,
.u-paragraph.is-variant_black:after { background-color: black; }
.u-paragraph-main.is-variant_black { color: black; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face {
	font-family: "Bauhaus 93";
	src: url("../../assets/fonts/BAUHS93.TTF");
}
@font-face {
	font-family: "Impact";
	src: url("../../assets/fonts/impact.ttf");
}

.u-marquee-box-title,
.u-paragraph-main { font-family: "Bauhaus 93";}
.u-paragraph-text { font-family: Impact; }

.u-paragraph-text { word-spacing: .125em; }

.u-paragraph.is-variant_left { text-align: left; }
.u-paragraph.is-variant_center { text-align: center; }
.u-marquee-box-title,
.u-paragraph.is-variant_right { text-align: right; }

/*
.u-link:hover,
.u-link:active,
.u-link:focus
*/
.u-link { text-decoration: underline; }
/*** END FONTS ***/

/*** UTILITIES ***/
.u-marquee-wrap { display: flex; }

.u-link {
	display: inline;
}

.u-marquee {
    position: relative;
}
.u-marquee-wrap {
    width: fit-content;
//	width: 250%;
    position: relative;
}
.u-marquee-box {
	position: relative;
	width: 25%;
}
.u-marquee-box-decoration {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	width: 0; height: 0;
	display: inline-block;
	margin: auto;

	border: 1px solid yellow;
}
.u-marquee-box-decoration-img {
	position: absolute !important;
	display: inline-block;
}
.u-marquee-box-decoration-img.is-variant_big {
	width: 10em; height: 10em;
	top: -5em; left: -5em;

	border: 1px solid green;
}
.u-marquee-box-decoration-img.is-variant_small {
	width: 4em; height: 4em;

	border: 1px solid red;
}
.u-marquee-box-decoration-img.is-variant_small.nthChild-1 {
	top: -6em; left: -6em;
}
.u-marquee-box-decoration-img.is-variant_small.nthChild-2 {
	top: -6em; right: -6em;
}
.u-marquee-box-decoration-img.is-variant_small.nthChild-3 {
	bottom: -6em; left: -6em;
}
.u-marquee-box-decoration-img.is-variant_small.nthChild-4 {
	bottom: -6em; right: -6em;
}
.u-marquee-box-title {
//    font-size: 10vw;
	margin: 0 .5em	;
}

.u-paragraph {
	padding: 1em;
}
.u-paragraph.is-variant_right { padding-left: 10%; }
.u-paragraph.is-variant_left { padding-right: 10%; }
.u-paragraph.is-variant_block {
	position: relative;
}
.u-paragraph.is-variant_block:before,
.u-paragraph.is-variant_block:after {
	content: "";
	position: absolute; top: 0;
	width: 100%; height: 100%;
}
.u-paragraph.is-variant_block:before { left: -100%; }
.u-paragraph.is-variant_block:after { right: -100%; }
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
/*** END COMPONENTS ***/

/*** INTERACTIVITY ***/
.u-link,
.u-marquee-box-title { cursor: pointer; }
/*** END INTERACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 50em) {
	.u-marquee-box-title,
	.u-paragraph-main { font-size: 2em; }
	.u-paragraph-text { font-size: 1em; }

	.u-marquee-box-title { line-height: 1.5em; }
	.u-paragraph-text { line-height: 2.5em; }
}
@media screen and (min-width: 50em) {
	.u-marquee-box-title,
	.u-paragraph-main { font-size: 5em; }
	.u-paragraph-text { font-size: 1.5em; }

	.u-marquee-box-title { line-height: 1.5em; }
	.u-paragraph-text { line-height: 2em; }
}
/*** END MEDIA QUERIES ***/

/*** DECORATION ***/
.d-midWrap {
	max-width: 75em;
	margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATIONS ***/
.u-marquee {
    --vOffsetLeft: 20vw;
    --vMoveInitialLeft: calc(-25% + var(--vOffsetLeft));
    --vMoveFinalLeft: calc(-50% + var(--vOffsetLeft));

	--vOffsetRight: 80vw;
    --vMoveInitialRight: calc(25% - var(--vOffsetRight));
    --vMoveFinalRight: calc(50% - var(--vOffsetRight));
}
.u-marquee:hover .u-marquee-wrap {
//    animation-play-state: paused !important;
}
.u-marquee.is-variant_left .u-marquee-wrap {
    animation: cssMarquee-toTheLeft 5s linear infinite;
    transform: translate3d(var(--vMoveInitialLeft), 0, 0);
}
.u-marquee.is-variant_right .u-marquee-wrap {
    animation: cssMarquee-toTheRight 10s linear infinite;
    transform: translate3d(var(--vMoveInitialRight), 0, 0);
}


@keyframes cssMarquee-toTheLeft {
    0% { transform: translate3d(var(--vMoveInitialLeft), 0, 0); }
    100% { transform: translate3d(var(--vMoveFinalLeft), 0, 0); }
}
@keyframes cssMarquee-toTheRight {
    0% { transform: translate3d(var(--vMoveInitialRight), 0, 0); }
    100% { transform: translate3d(var(--vMoveFinalRight), 0, 0); }
}
/*** END ANIMATIONS ***/

/*** TO DELETE ***/
.hashtags-hash-content,
.u-marquee-box-decoration { display: none !important; }
/*** TO DELETE ***/